@model WishList.Models.Item

<h1>WishList</h1>
<a asp-action="create">Add item</a>
<ul>
    @foreach (var item in Model.collections)
    {
        <li>
            <!-- add (asperand) symbol to indicate that it is c# coding and not html-->
            @item.Description
             <a asp-action="delete" asp-route-id="@item.Id">delete</a>
         </li>
    }
</ul>