<!-- define a List of Items and saved it as a model in razor page -->
@model List<WishList.Models.Item>

<h1>WishList</h1>

<a asp-action="create">Add item</a>

<!-- add (asperand) symbol to indicate that it is c# coding and not html-->
<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Description
            <a asp-action="delete" asp-route-id="@item.Id">delete</a>
        </li>
    }
</ul>